<h3>
  Teams Page
</h3>
<div class="row">
  <div class="col-md-3">
    <h4><a href="/team1">Team 1</a></h4>
    <a href="https://github.com/cipriancus/Modul1">GitHub</a>
    <br>
    <h5><b>Members</b></h5>
    <p><b>Ciprian Cusmuliuc</b></p>
    <p><b>Cosmina Asofiei</b></p>
    <p>Popovici Sebi</p>
    <p>Stefan Cernescu</p>
    <p>Codrin Ştefan Onuțu</p>
    <p>Constantin Serediuc</p>


  </div>
  <div class="col-md-3">
    <h4><a href="/team2">Team 2</a></h4>
    <a href="https://github.com/cipriancus/Modul2">GitHub</a>
    <br>
    <p><b>Members</b></p>
    <p><b>Popovici Sebi</b></p>
    <p><b>Gabriel Pantiru</b></p>
    <p>Teofil Ursan</p>
    <p>Grosu Ilie Andrei</p>
    <p>Vlăduţ-Cristian Bordeianu</p>
  </div>
  <div class="col-md-3">
    <h4><a href="/team3">Team 3</a></h4>
    <a href="https://github.com/cipriancus/Modul3">GitHub</a>
    <br>
    <p><b>Members</b></p>
    <b><p>Mihai Corciu</p>
      <p>Cadaru Lucian</p></b>
    <p>Antonia-Luciana Bursuc</p>
    <p>Cosmin Andrei Cotoc</p>
    <p>Lavinia Maria Tiba</p>

  </div>
  <div class="col-md-3">
    <h4><a href="/team4">Team 4</a></h4>
    <a href="https://github.com/cipriancus/Modul4">GitHub</a>
    <br>
    <p><b>Members</b></p>
    <b><p>Loredana Elena Balan</p>
      <p>Constantin Serediuc</p></b>
    <p>Friderika Covalciuc</p>
    <p>Andrei Paul Magureanu</p>
    <p>Ionut J. Bejan</p>
    <p>Teofil Ursan</p>
    <p>Georgiana Elena Trofin</p>
  </div>
</div>
