<div class="highlightSection">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome!</h1><br>
                <em>This site is under construction.</em><br><br>
                Please be patient.

            </div>
            <div class="col-md-4 align-right">
                <h5>If you're courious you can find more above: </h5>
                <a class="btn btn btn-brand" routerLink="/about">read more</a>
            </div>
        </div>
    </div>
</div>
<div class="content">

</div>
